<%= paginate @messages %>

<table class="table table-bordered table-sm table-striped">
  <thead>
    <tr>
      <th>Kdo</th>
      <th>Zakaj</th>
      <th><%= sortable "remote_created_at", "Kdaj" %></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @messages.each do |message| %>
      <tr>
        <td class="align-middle text-nowrap">
          <img src="<%= url_for(message.user.avatar.variant(:tiny)) if message.user.avatar.attached? %>">
          <%= link_to message.user.name, message.user %>
        </td>
        <td class="align-middle"><%= message.content %></td>
        <td class="align-middle text-nowrap"><%= format_time message.remote_created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>
