<%= paginate @topics %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "remote_created_at", "Prvi" %></th>
      <th><%= sortable "title", "Titula" %></th>
      <th><%= sortable "posts_count", "Replik" %></th>
      <th><%= sortable "last_post_remote_created_at", "Zadnji" %></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td class="text-nowrap">
          <%= link_to topic.user.name, topic.user %>
          <br>
          <img src="<%= url_for(topic.user.avatar.variant(:small)) if topic.user.avatar.attached? %>">
          <br>
          <%= format_time topic.remote_created_at %>
        </td>
        <td><%= link_to topic.title, topic %></td>
        <td class="text-nowrap"><%= topic.posts_count %></td>
        <td class="text-nowrap">
          <%= link_to topic.last_post.user.name, topic.last_post.user %>
          <br>
          <img src="<%= url_for(topic.last_post.user.avatar.variant(:small)) if topic.last_post.user.avatar.attached? %>">
          <br>
          <%= format_time topic.last_post.remote_created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @topics %>
