<div class="row">
  <div class="col-3">
    <h1>
      <img src="<%= url_for(@user.avatar.variant(:large)) if @user.avatar.attached? %>">
      <%= @user.name %>
    </h1>
    <dl>
      <dt>IG vrstic</dt>
      <dd><%= @user.messages_count %></dd>
      <dt>Postov</dt>
      <dd><%= @user.posts_count %></dd>
      <dt>Tem</dt>
      <dd><%= @user.topics_count %></dd>
    </dl>
  </div>
  <div class="col-9">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link" href="<%= user_path(@user) %>">Aktivnosti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= user_stats_path(@user) %>">Statsi</a>
      </li>
    </ul>

    <%=
      render "stats/stats",
        data_by_source_type: @data_by_source_type,
        q: @q,
        search_form_url: user_stats_path(@user)
    %>
  </div>
</div>
