<div class="row <%= 'mb-3' unless @posts.total_pages > 1 %>">
  <div class="col">
    <%= page_entries_info @posts %>
  </div>
  <div class="col">
    <%= paginate @posts %>
  </div>
  <div class="col text-end">
    <button class="btn btn-secondary"
            data-bs-target="#posts-filter"
            data-bs-toggle="collapse"
            type="button">
      Kazi filtre
    </button>
  </div>
</div>

<%= search_form_for @posts_q do |f| %>
  <div class="collapse mb-3 row <%= 'show' if params[:q] && params[:q].keys != ["content_search"] %>" id="posts-filter">
    <div class="col">
      <div class="input-group">
        <div class="input-group-text">@</div>
        <%= f.hidden_field :content_search %>
        <%= f.select :user_id_in,
           nil,
           {},
           {
             class: "bs-select form-control",
             data: {
               "actions-box": true,
               "none-selected-text": "Omeji po uporabniku",
               "live-search": true
             },
             multiple: true
           } do %>
          <% User.order(:name).each do |user| %>
            <%= tag.option user.name,
               data: {content: (user.avatar.attached? ? image_tag(user.avatar.variant(:tinier)) : "") + " " + user.name},
               selected: f.object.user_id_in&.include?(user.id),
               value: user.id
            %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-auto">
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-calendar-date"></i>
        </div>
        <%= f.text_field :remote_created_at_in_date_range,
              class: "drp-input form-control",
              placeholder: "Omeji po casu" %>
      </div>
    </div>

    <div class="col-auto">
      <%= f.submit "Pozeni!", class: "btn btn-primary" %>
    </div>
  </div>

  <table class="table table-bordered posts-search-table">
    <% @posts.each do |post| %>
      <tbody class="table-group-divider">
        <tr class="topic">
          <td class="text-nowrap">
            <img src="<%= url_for(post.topic.user.avatar.variant(:tiny)) if post.topic.user.avatar.attached? %>">
            <span class="fw-bold"><%= link_to post.topic.user.name, post.topic.user %></span>
            <span class="fw-normal text-muted"><%= format_time post.topic.remote_created_at %></span>
          </td>
          <td>
            <span class="fw-bold"><%= link_to post.topic.title, post %></span>
          </td>
        </tr>
        <tr class="post">
          <td class="text-nowrap">
            <img src="<%= url_for(post.user.avatar.variant(:tiny)) if post.user.avatar.attached? %>">
            <span class="fw-bold"><%= link_to post.user.name, post.user %></span>
            <span class="text-muted"><%= format_time post.remote_created_at %></span>
          </td>
          <td>
            <%= highlight_pg_search(post) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
